<h1>Game</h1>

<p>Game playes here!!!</p>

<p>Game state: <strong>{{ game.state }}</strong></p>
<p>Player action: <strong>{{ game.player.action }}</strong></p>

<table>
  <caption><span>Table:{{game.table}}</span><span>Player:{{game.player.name}}</span></caption>
  <thead>
    <tr>
      <td><b>State</b></td>
      <td colspan="9"><b>Actions</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Game</b></td>
      <td><button (click)="gameBegin()">Begin</button></td>
      <td><button (click)="gameEnd()">End</button></td>
    </tr>
    <tr>
      <td><b>Opponents</b></td>
      <td colspan="9">
        <table>
          <tr>
            <td *ngFor="let opponent of game.players"><app-opponent [opponent]="opponent"></app-opponent></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Player</b></td>
      <td>Name</td>
      <td>{{game.player.name}}</td>
      <td>Score</td>
      <td>{{game.player.score}}</td>
      <td>Coins</td>
      <td>{{game.player.coins}}</td>
      <td><button (click)="gameLeave()">Leave</button></td>
    </tr>
    <tr id="state1" [class.active]="game.state == 1">
      <td>1 Turn</td>
      <td><button (click)="gameTurn(0)">UnTurn</button></td>
      <td><button (click)="gameTurn(1)">Spy</button></td>
      <td><button (click)="gameTurn(2)">Invent</button></td>
      <td><button (click)="gameTurn(3)">Research</button></td>
      <td><button (click)="gameTurn(4)">Work</button></td>
    </tr>
    <tr id="state2" [class.active]="game.state == 2">
      <td>2 Spying</td>
      <td colspan="9">Game count coins for spying</td>
    </tr>
    <tr id="state3" [class.active]="game.state == 3">
      <td>3 Spy</td>
      <td colspan="9">
        <app-field [player]="game.player" [opponentList]="game.players"></app-field>
      </td>
    </tr>
    <tr id="state4" [class.active]="game.state == 4">
      <td>4 Invent</td>
      <td id="inventions" colspan="9">
        <table>
          <tr>
            <td *ngFor="let invention of game.player.inventions"><app-invention [invention]="invention"></app-invention></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr id="state5" [class.active]="game.state == 5">
      <td>5 Inventing</td>
      <td colspan="9"><div id="currEff">Current effect here</div></td>
    </tr>
    <tr id="state6" [class.active]="game.state == 6">
      <td>6 Researching</td>
      <td colspan="9">Just get invention and coins</td>
    </tr>
    <tr id="state7" [class.active]="game.state == 7">
      <td>7 Working</td>
      <td colspan="9">Get some coins</td>
    </tr>
    <tr id="state8" [class.active]="game.state == 8">
      <td>8 Scoring</td>
      <td colspan="9">Check player's score</td>
    </tr>
    <tr id="state9" [class.active]="game.state == 9">
      <td>9 Win</td>
      <td colspan="9">{{winner}}</td>
    </tr>
  </tbody>
</table>
