<div class="enemy" ng-style="{'background-color': colors[_enemy.color]}">
    <div class="col-xs-3 action-zone">
        <div class="loader" ng-show="!_enemy.isMoved"></div>
        <div class="selected-action" ng-show="_enemy.isMoved">{{_enemy.action}}</div>
    </div>
    <div class="col-xs-9">
        <ul class="info">
            <li><center>{{_enemy.name}}</center></li>
            <li>Score: {{_enemy.score}}</li>
            <li>Money: {{_enemy.coins}}</li>
            <li>Cards: {{_enemy.inventionCount}}</li>
            <li>Spy: {{_enemy.spies.length}}</li>
        </ul>
    </div>

    <div class="clearfix">
    </div>
</div>
