<div class="invention-card nefarius-card" ng-class="{'active' : _invent.active}" ng-app="nefarius">
    <div class="row title-container">
        <div class="col-xs-3">
            <div class="cost">{{_invent.cost}}</div>
        </div>
        <div class="col-xs-9 text-center">
            <p class="title">{{_invent.name}}</p>
        </div>
    </div>
    <div class="row avatar-container">
        <div class="col-xs-12">
            <div class="avatar"></div>
        </div>
    </div>
    <div class="row description-container">
        <div class="col-xs-12">
            <p class="text-info description">
                {{_invent.description}}
            </p>
        </div>
    </div>
    <div class="row effects-container">
        <div class="col-xs-3">
            <div class="score wordart rainbow"><span class="text">{{_invent.score}}</span></div>
        </div>
        <div class="col-xs-9">
            <div class="row" ng-show="_invent.selfEffectList.length">
                <effect effects-list="_invent.selfEffectList" dir="'get'" owner="'self'"></effect>
                <effect effects-list="_invent.selfEffectList" dir="'drop'" owner="'self'"></effect>
            </div>
            <div class="row" ng-show="_invent.otherEffectList.length">
                <effect effects-list="_invent.otherEffectList" dir="'get'" owner="'other'"></effect>
                <effect effects-list="_invent.otherEffectList" dir="'drop'" owner="'other'"></effect>
            </div>
        </div>
    </div>
</div>
