<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nefarius</title>
    <link rel="stylesheet" href="css/game.css">
    <script src="js/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>

<body ng-app="nefarius" ng-controller="hub">
    <div class="view">
        <div class="rulse"></div>
        <div class="players">
            <center>
                <ng-repeat ng-repeat="_enemy in enemys | filter: {id : '!' + player.id}: true" ng-include="'templates/enemy.html'">
                </ng-repeat>
            </center>
        </div>


        <div class="gametable">
            <table>
                <tr>
                    <td><img src="sprites/INVENT.png" alt=""></td>
                    <td><img src="sprites/WORK.png" alt=""></td>
                </tr>
                <tr>
                    <td><img src="sprites/SPY.png" alt=""></td>
                    <td><img src="sprites/STUDY.png" alt=""></td>
                </tr>
            </table>
        </div>
        <footer>
            <table class="player-controls">
                <tr>
                    <td class="col-1">
                        <div class="inventions"></div>
                    </td>
                    <td class="col-2">
                        <div class="player-data" ng-style="{'background-color': colors[player.color]}">
                            <center>
                                <div ng-if="!playerJoined">
                                    <label for="">Введи имя: <input type="text" ng-model="player.name"></label>
                                    <button ng-click="join(player.name)">join</button>
                                </div>
                                <ul class="info" ng-if="playerJoined">
                                    <li><center>{{player.name}}</center></li>
                                    <li>Score: {{player.score}}</li>
                                    <li>Money: {{player.coins}}</li>
                                    <li>Cards: {{player.inventionCount}}</li>
                                    <li>Spy: {{player.spies.length}}</li>
                                    <li>GameStae: {{currentGameState}}</li>
                                    <li><center><button ng-click="startGame()" ng-show="currentGameState == 'Init'">Начать игру</button></center></li>
                                    <li><center><button ng-click="doTurn(turnSelected)" ng-disabled="!turnSelected" ng-show="currentGameState != 'Init'">Закончить ход</button></center></li>
                                </ul>
                            </center>
                        </div>
                    </td>
                    <td class="col-3">
                        <div class="turns">
                            <center>
                                <div class="action action-spy" ng-class="{'active' : turnSelected == 1}" ng-click="turnSelected = 1"></div>
                                <div class="action action-invent" ng-class="{'active' : turnSelected == 2}" ng-click="turnSelected = 2"></div>
                                <div class="action action-research" ng-class="{'active' : turnSelected == 3}" ng-click="turnSelected = 3"></div>
                                <div class="action action-work" ng-class="{'active' : turnSelected == 4}" ng-click="turnSelected = 4"></div>
                            </center>
                        </div>
                    </td>
                </tr>
            </table>
        </footer>
    </div>
    <script src="js/game.js"></script>
</body>

</html>
