<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nefarius</title>
    <link rel="stylesheet" href="css/game.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="js/signalr.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-dnd.js"></script>
</head>

<body ng-app="nefarius" ng-controller="hub">
    <div class="view">
        <div class="rulse"></div>
        <div class="players">
            <center>
                <ng-repeat ng-repeat="_enemy in enemys | filter: {id : '!' + player.id}: true" ng-include="'templates/enemy.html'">
                </ng-repeat>
            </center>
        </div>
        <div class="effect-queu-container overlay-over" ng-show="player.effectQueue.length">
            <ul class="list-group">
                <li class="list-group-item active">Твои эффекты:</li>
                <li class="list-group-item effect-queu-item" ng-repeat="_e in player.effectQueue">
                    <effect effects-list="[_e]" dir="_e.direction" owner="'self'"></effect>
                </li>
            </ul>
        </div>
        <div class="gametable">
            <ng-repeat ng-include="'templates/spy-zone.html'" ng-repeat="_zone in spyZones"></ng-repeat>
        </div>
        <footer ng-class="{'overlay-over' : cardDropEvent}">
            <div class="row">
                <div class="col-xs-5">
                    <div class="inventions" ng-class="{'msg' : hintPosition == 'inventions'}" dnd-on-drop="onInventDrop(inventSelectedForDrop)" dnd-droppable="cardDropEvent">
                        <ng-repeat ng-repeat="_invent in player.inventions" dnd-draggable="cardDropEvent" ng-include="'templates/invention.html'" dnd-on-dragstart="selectInventByDrag(_invent,$dragged)" dnd-draggable-opts="{helper : 'clone'}" ng-click="selectCard(_invent)"></ng-repeat>
                        <div class="msg-container" ng-show="hintPosition == 'inventions'">{{hintMsg}}</div>
                    </div>
                </div>
                <div class="col-xs-2 ">
                    <div class="player-data" ng-style="{'background-color': colors[player.color]}" ng-init="_select = false" dnd-on-dragenter="_select = true" dnd-on-dragleave="_select = false" dnd-on-drop="onSpyDrop(draggedSpy,0); _select=false;" dnd-droppable="spyDropEvent" ng-class="{'player-spy-drop' : _select,'msg': hintPosition == 'player'}">
                        <center>
                            <div ng-if="!playerJoined">
                                <div class="input-group col-md-12">
                                    <input type="text" class="search-query form-control" ng-model="player.name" placeholder="Введи имя" ng-keypress="join(player.name,$event)" />
                                    <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button" ng-click="join(player.name)">
                                                <i class="fas fa-sign-in-alt"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                            <ul class="info" ng-if="playerJoined">
                                <li>
                                    <center>{{player.name}}</center>
                                </li>
                                <li>Score: {{player.score}}</li>
                                <li>Money: {{player.coins}}</li>
                                <li>Cards: {{player.inventionCount}}</li>
                                <li>Spy: <i class="fas fa-male spy" dnd-draggable="spyAddEvent" dnd-draggable-opts="{helper : 'clone'}" dnd-on-dragstart="selectSpyByDrag(_spy)" ng-repeat="_spy in player.spies | filter: 0 track by $index"></i></li>
                                <li>State: {{getPlayerCurrentState()}} <div class="player-loader pull-rigth" nh-show="waiting"></div></li>
                                <li class="player-actions">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a class="btn btn-default" ng-click="startGame()" ng-show="currentGameState == 'Init'">Начать игру</a>
                                        <a class="btn btn-default" ng-click="doTurn(selectedCard)" ng-disabled="turnApllyed && selectedCard" ng-show="currentGameState != 'Init'">Закончить ход</a>
                                        <a class="btn btn-default" ng-click="endGame()">Очистить стол</a>
                                    </div>
                                </li>
                            </ul>
                        </center>
                        <div class="msg-container" ng-show="hintPosition == 'player'">{{hintMsg}}</div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="turns" ng-class="{'msg' : hintPosition == 'actions'}">
                        <center>
                            <ng-repeat ng-repeat="card in actions" ng-include="'templates/card.html'" ng-click="selectCard(card)"></ng-repeat>
                        </center>
                        <div class="msg-container" ng-show="hintPosition == 'actions'">{{hintMsg}}</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="overlay" ng-show="cardDropEvent"></div>
    <div class="card-droper overlay-over" ng-show="cardDropEvent">
        <h1 class="text-center text-uppercase card-drop-title">Выбери карты для сброса ({{ dropedInvents.length }} / {{cardsToDrop}})</h1>
        <br>
        <br>
        <div class="inventions" dnd-on-drop="onInventDrop(inventSelectedForDrop,cardsToDrop)" dnd-droppable="true">
            <ng-repeat ng-repeat="_invent in dropedInvents" dnd-draggable="cardDropEvent" dnd-on-dragstart="selectInventByDrag(_invent,$dragged)" dnd-draggable-opts="{helper : 'clone'}" ng-include="'templates/invention.html'"></ng-repeat>
        </div>
        <br>
        <br>
        <div class="col-xs-12 text-center">
            <a href="javascript:void(0)" class="btn btn-default" ng-click="applyDrop()">скинуть</a>
        </div>
    </div>
    <script src="js/game.js"></script>
    <script src="js/directives/effect.js"></script>
</body>

</html>
