* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rulse {
    position: absolute;
    right: -750px;
    top: 30px;
    width: 800px;
    height: 300px;
    transition: all .5s;
    border: 5px solid #848153;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #e665f0;
    background-repeat: no-repeat;
    z-index: 99;
}

.rulse:hover {
    right: 0px;
}

.turns,
.inventions {
    background: #fff38c;
    border: 5px solid #7f3300;
    border-radius: 30px;
    height: 230px;
}

.action {
    display: inline-block;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    width: 155px;
}

.action.active {
    border: 2px solid red;
}

.action-spy {
    background-image: url("../sprites/SPY.png");
}

.action-invent {
    background-image: url("../sprites/INVENT.png");
}

.action-research {
    background-image: url("../sprites/STUDY.png");
}

.action-work {
    background-image: url("../sprites/WORK.png");
}

.players {
    position: absolute;
    top: 10px;
    width: 80%;
    height: 150px;
    margin: 0 10%;
    border: 5px solid #848153;
    border-radius: 30px;
    background-color: aqua;
    background-repeat: no-repeat;
}

.enemy {
    display: inline-block;
    margin: 10px;
    background-color: rebeccapurple;
    border: 5px solid brown;
    border-radius: 10px;
    height: 120px;
    width: 20%;
}

.enemy .columns-container {
    padding: 10px;
    background: #ecf0f1;
    border: 2px solid #34495e;
}

.enemy .column {
    min-height: 90px;
    padding: 10px;
    color: white;
}

.enemy .column1 {
    width: 30%;
    float: left;
    background-image: url(../sprites/INVENT.png);
    background-size: cover;
}

.enemy .column2 {
    width: 50%;
    float: right;
}

.enemy .clearfix {
    height: 0px;
    background: #e74c3c;
    clear: both;
}

.enemy .info {
    list-style-type: none;
    text-align: left;
    color: white;
    font-weight: bold;
}

.gametable {
    position: absolute;
    top: 200px;
    width: 60%;
    margin: 0 20%;
    height: 500px;
    background: #f4f49b;
    border: 5px solid #848153;
    border-radius: 30px;
}

.gametable table {
    width: 100%;
    text-align: center;
}

.gametable table img {
    height: 240px;
}

.player-controls {
    width: 100%;
}

.player-controls td {
    padding: 10px;
}

.player-controls .col-1,
.player-controls .col-3 {
    width: 37%;
}

.player-controls .col-2 {
    width: 16%;
}

.player-data {
    background-color: rebeccapurple;
    border: 5px solid brown;
    border-radius: 10px;
    height: 230px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.player-data ul {
    list-style-type: none;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.nefarius-card {
    width: 154px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #005787;
    display: inline-block;
}

.nefarius-card.active {
    border: 5px solid black;
}

.action-card {
    background-color: #00a4ff;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.action-card .card-container {
    position: relative;
}

.action-card .avatar {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 1px solid #0083cc;
    background-color: #00caff;
    position: relative;
}

.action-card .avatar-info {
    line-height: 100px;
    font-weight: bold;
    font-size: 3em;
}

.action-card .title {
    color: black;
    line-height: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.action-card .value {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    font-weight: bold;
    border: 1px solid black;
}

.action-card .cost {
    background-color: yellow;
    top: -10px;
    left: -10px;
}

.action-card .score {
    background-color: #a5fff1;
    top: -10px;
    right: -10px;
}

.spy {
    color: black;
    font-size: 1.5em;
    margin: 0 5px;
}

.spy-zone-selected {
    background: rgba(128, 226, 244, 0.65);
}

.spy-zone {
    position: relative;
    text-align: center;
}

.spy-zone img.zone-bg {
    width: 30%;
}


.spy-zone [class*='enemy-spy-'],
.spy-zone .spy-player {
    position: absolute;
    width: 25%;
    height: 30px;
}

.spy-zone .spy-player {
    top: 10px;
    right: 10px;
}

.spy-zone .enemy-spy-0 {
    top: 10px;
    left: 10px;
}

.spy-zone .enemy-spy-1 {
    top: 50px;
    left: 10px;
}

.spy-zone .enemy-spy-2 {
    top: 90px;
    left: 10px;
}

.spy-zone .enemy-spy-3 {
    top: 130px;
    left: 10px;
}

.spy-zone .enemy-spy-4 {
    top: 170px;
    left: 10px;
}

.spy-zone .enemy-spy-5 {
    top: 210px;
    left: 10px;
}

.player-actions {
    line-height: 56px;
}

.invention-card .title-container {
    height: 40px;
}

.invention-card .avatar-container {
    height: 60px;
}

.invention-card .description-container {
    height: 50px;
}

.invention-card .effects-container {
    height: 50px;
}

.invention-card {
    background-color: #ffffff;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    font-size: 12px
}

.invention-card .cost {
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid black;
    display: inline-block;
}

.invention-card .title,
.invention-card .description {
    word-break: keep-all;
    font-size: 11px;
}

.invention-card .avatar {
    border: 1px solid black;
    height: 50px;
}

.invention-card .score {
    font-size: 2em;
}

.invention-card .effect-arrow {
    font-size: 15px;
}

.invention-card .effect-icon {
    width: 20px;
    height: 20px;
}

.wordart {
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wordart.rainbow {
  transform: scale(1, 1.5);
  -webkit-transform: scale(1, 1.5);
  -moz-transform: scale(1, 1.5);
  -o-transform: scale(1, 1.5);
  -ms-transform: scale(1, 1.5);
}

.wordart.rainbow .text {
  background: #32caf7; 
  background: -webkit-linear-gradient(left, #272727, #32caf7);
  background: -o-linear-gradient(left, #272727, #32caf7);
  background: -moz-linear-gradient(left, #272727, #32caf7);
  background: linear-gradient(to right, #272727, #32caf7); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}