* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.rulse {
    position: absolute;
    right: -750px;
    top:  30px;
    width: 800px;
    height: 300px;
    transition: all .5s;
    border: 5px solid #848153;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #e665f0;
    background-repeat: no-repeat;
    z-index: 99;
}

.rulse:hover {
    right: 0px;
}

.turns,
.inventions {
    background: #fff38c;
    border: 5px solid #7f3300;
    border-radius: 30px;
    height: 200px;
}

.action {
    display: inline-block;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    width: 155px;
}

.action.active {
    border: 2px solid red;
}

.action-spy {
    background-image: url("../sprites/SPY.png");
}
.action-invent {
    background-image: url("../sprites/INVENT.png");
}
.action-research {
    background-image: url("../sprites/STUDY.png");
}
.action-work {
    background-image: url("../sprites/WORK.png");
}

.players {
    position: absolute;
    top: 10px;
    width: 80%;
    height: 150px;
    margin: 0 10%;
    border: 5px solid #848153;
    border-radius: 30px;
    background-color: aqua;
    background-repeat: no-repeat;
}

.enemy {
    display: inline-block;
    margin: 10px;
    background-color: rebeccapurple;
    border: 5px solid brown;
    border-radius: 10px;
    height: 120px;
    width: 20%;
}

.enemy .columns-container {
    padding: 10px;
    background: #ecf0f1;
    border: 2px solid #34495e;
}

.enemy .column {
    min-height: 90px;
    padding: 10px;
    color: white;
}

.enemy .column1 {
    width: 30%;
    float: left;
    background-image: url(../sprites/INVENT.png);
    background-size: cover;
}

.enemy .column2 {
    width: 50%;
    float: right;
}

.enemy .clearfix {
    height: 0px;
    background: #e74c3c;
    clear: both;
}

.enemy .info {
    list-style-type: none;
    text-align: left;
}
.gametable {
    position: absolute;
    top: 200px;
    width: 60%;
    margin: 0 20%;
    height: 500px;
    background: #f4f49b;
    border: 5px solid #848153;
    border-radius: 30px;
}

.gametable table {
    width: 100%;
    text-align: center;
}

.gametable table img {
    height: 240px;
}

.player-controls {
    width: 100%;
}

.player-controls td {
    padding: 10px;
}

.player-controls .col-1,
.player-controls .col-3 {
    width: 37%;
}

.player-controls .col-2 {
    width: 16%;
}

.player-data {
    background-color: rebeccapurple;
    border: 5px solid brown;
    border-radius: 10px;
    height: 180px;
    padding: 10px;
    color: white;
}

.player-data ul {
    list-style-type: none;
    text-align: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card.active {
    border: 5px solid black;
}

.card {
    width: 130px;
    height: 160px;
    border-radius: 15px;
    border: 1px solid #005787;
    background-color: #00a4ff;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.card .avatar {
    width: 110px;
    height: 100px;
    border-radius: 15px;
    border: 1px solid #0083cc;
    background-color: #00caff;
}

.card .avatar-info {
    line-height: 100px;
    font-weight: bold;
    font-size: 3em;
}

.card .title {
    color: black;
    line-height: 70px;
}